body{
 background-image: url(https://cdn.pixabay.com/photo/2011/12/15/11/37/solar-system-11188__480.jpg);
 
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  a:hover{
      text-decoration: none;
  }
  
  .container{
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }
